/*ADd margins to side nav to fix*/
label {color:#000;}
.card{cursor: pointer;}
/*body{
	margin-left:5%;
	margin-right:5%;
  background-color: #424242;
}

#date{
	text-align: right;
}

#to li{
	padding-top: 1%;
}

#contactMe{
	text-align: center;
}*/

/* The side navigation menu from w3schools*/
.sidenav {
  
}
#mySidenav{
 
}


.sidenav #sideMenu a{
  
}
.sidenav #sideMenu a span{
 
}
.sidenav #sideMenu a:hover{
    }

/*.sidenav a:hover {
  color: #f1f1f1;
}*/

.sidenav .closebtn {
  
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 20%;
  margin-top: 10%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




#headNav 

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}




/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#imgtext{
  color:#fff;
}

#squirrel{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 60px;
    box-shadow: 6px 6px 6px 0px;
    border-radius: 65px;
}

#headNav p{
  margin-left:200px;
  margin-top:30px;
  color:#fff;
}