body {
  margin-right: 5%;
  background-color: #424242; }

#sideNav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  color: #929292;
  overflow-x: hidden;
  background-color: #303030;
  padding-top: 60px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }*/ }
  #sideNav #sideMenu .dropdown-content {
    overflow-x: hidden;
    background-color: #303030;
    display: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    position: relative;
    z-index: 9999;
    top: 0 !important;
    width: auto !important;
    height: auto !important;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    #sideNav #sideMenu .dropdown-content a {
      color: #929292;
      height: inherit; }
      #sideNav #sideMenu .dropdown-content a:hover {
        color: #FFF; }
  #sideNav #sideMenu a {
    padding: 15px;
    color: inherit;
    height: inherit;
    width: 100%;
    font-size: 25px;
    font-family: 'OpenSansBold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s; }
    #sideNav #sideMenu a span {
      margin: 0px 24px 0px 24px;
      padding: 8px; }
    #sideNav #sideMenu a:hover {
      color: #FFF;
      -webkit-box-shadow: inset 4px 1px 50px 20px #929292;
      box-shadow: inset 4px 1px 50px 20px #929292; }

.sideNavBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #929292;
  font-size: 35px;
  cursor: pointer; }
  .sideNavBtn:hover {
    color: #FFF; }

#close {
  display: block; }

#open {
  display: none; }

#headNav {
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #headNav p {
    font-size: 20px;
    font-family: 'OpenSansBold', sans-serif;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 30px;
    color: #FFF; }

#location {
  font-size: 20px;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: bold;
  color: #FFF; }

/*ADd margins to side nav to fix*/
.card {
  cursor: pointer; }

#main {
  -webkit-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 20%;
  margin-top: 10%; }

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
#videoText {
  color: #FFF; }

#squirrel {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 60px;
  color: black; }
  #squirrel img {
    -webkit-box-shadow: 6px 6px 6px 0px !important;
    box-shadow: 6px 6px 6px 0px !important;
    border-radius: 65px; }

#location {
  position: absolute;
  top: 12%;
  left: 17%;
  text-transform: uppercase; }

/*
.card{
    &::before,
    &::after{
        content:'';
        position: absolute;
        top: 1.25em;
        bottom: 1.25em;
        left: 1.25em;
        right: 1.25em;
        z-index: 999;
        opacity: 0.4;
        
    }

    &::before{
        background: $d_B4;
        transform: scale(0,1);
        transition: transform ease-out 250ms;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    &::after{
        transform: scale(1,0);
        transition: transform ease-out 250ms;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    &:hover::before{
        transform: scale(1,1);
    }
    &:hover::after{
        transform: scale(1,1);
    }
}
*/
.hovering:hover {
  -webkit-box-shadow: 16px 17px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 16px 17px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

table {
  padding: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: 16px 17px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 16px 17px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  font-size: 20px;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: bold; }
  table img {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 20px; }
  table td {
    padding: 20px; }
  table tr {
    background: #AAA;
    border-bottom: solid #848484 2px; }
    table tr:nth-child(odd) {
      background: #FFF; }
  table thead {
    border-bottom: solid #696969 2px; }

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }
